---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Hero from '../components/hero.astro';
import Espacios from '../components/espacios.astro';
import Features from '../components/features.astro';
import '../styles/global.css';
--- 

<Layout>
  <Header />
  <Hero />
  <Espacios />
  <Features />




    <section class="features">
        <h2>Características premium de nuestros espacios de coworking</h2>
  
</Layout>


