<section class="features">
  <h2>Características premium de nuestros espacios de coworking</h2>
  <ul class="features-list">
    <li>Acceso a áreas comunes</li>
    <li>Internet de alta velocidad</li>
    <li>Seguridad / CCTV</li>
    <li>Área de Coffee Break y Agua</li>
    <li>Casilleros – Locker’s</li>
    <li>Baño con ducha</li>
    <li>Equipo de sonido</li>
    <li>Servicios básicos (Limpieza, luz* y agua)</li>
  </ul>
  <p class="features-note">Incluidos en el costo de alquiler<br>(*) El servicio de luz se paga en porcentaje para el alquiler mensual en oficinas privadas</p>

  </ul>
</section>

<style>



.features {
  position: relative; /* Permite posicionar el contenido sobre la imagen */
  text-align: left; /* Cambiado de center a left */
  color: #000000; /* Cambia el color del texto */
  margin: 0; /* Elimina márgenes externos */
  margin-top: 0; /* Empuja el Hero hacia arriba para que cubra el espacio del header */
  padding: 0; /* Elimina el espaciado interno */
  padding-top: 0; /* Compensa el contenido para que no se oculte detrás del header */
  min-height: 100vh; /* Ajusta la altura según el tamaño de la ventana */
  margin-top: 0; /* Solo la altura exacta del header */
  padding-top: 60px; /* Compensación exacta del header */
  background: rgb(255, 255, 255);
  
}

.features h2 {
  font-family: 'Poppins', sans-serif; /* Cambia la fuente del texto */
  font-size: 36px; /* Ajusta el tamaño de la fuente */
  font-weight: 500; /* Cambia el peso de la fuente */
  margin-top:0; /* Elimina márgenes externos */
  margin-left: 50px; /* Elimina márgenes externos */
  padding: 0; /* Elimina espaciado interno */
  color: #000000; /* Cambia el color del texto */
  line-height: 100%;
}




.features li,p {
  font-family: 'Open Sans', sans-serif; /* Cambia la fuente del texto */
  font-size: 18px; /* Ajusta el tamaño de la fuente */
  font-weight: 400; /* Cambia el peso de la fuente */
  margin: 25px; /* Elimina márgenes externos */
  padding: 0; /* Elimina espaciado interno */
  color: #000000; /* Cambia el color del texto */
  line-height: 120%;
  margin-left: 200px; /* Espacio entre los elementos de la lista */
}
<style>