  <section class="hero">
    <img src="/images/hero-bg.webp" alt="Hero Background" class="hero-img">
      <div class="hero-content">
         <div class="hero-text"> 
           <h1>Encuentra tu espacio de coworking ideal en Asunción</h1>
           <p>Descubre un espacio de coworking diseñado para innovadores, creadores y emprendedores</p>
         </div>
           <a href="/services" class="btn-hero">Solicita un tour</a>
       </div>
    </section>